<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.mapper.CampusMapper">

    <insert id="createCampus" useGeneratedKeys="true" keyProperty="id">
        insert into campuses (id, name, address, contact_phone, is_center, create_time, update_time, delete_flag)
        values
            (#{campusId}, #{name}, #{address}, #{contactPhone}, #{isCenter}, #{createTime}, #{updateTime}, #{deleted})
    </insert>

</mapper>